*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.nav-address{
    height: 50px;
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.add-cha{
    font-size: 12px;
    color: #cccccc;
    padding-left: 20px;
}
.add-icon{
    display: flex;
}
.add-ind{
    color: #ffffff;
    font-size: 14px;
}

.nav-search{
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 780px;
    background-color: red;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width: 8%;
    text-align: center;
    /* color: #292727; */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    /* font-size: 12px; */
}
.search-icon{
    width: 8%;
    background-color: #FEBD69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
    border: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.nav-flag{
    height: 21.6px;
    width: 21.6px;
    
}
.flag{
    background-image: url(vqXWsNPg$9994Pg.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 2px;
}
.lang-selector{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lang-selector p{
    font-size: 14px;
}
.lang-selector select{
    background-color: transparent;
    color: white;
    border: none;
    text-align: center;
}
.nav-lang{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 6px;
}
.nav-account{
    padding: 6px;
}
.acc-two{
    display: flex;
}
.acc-two select{
    background-color: transparent;
    color: white;
    border: none;
}
.nav-ro{
    padding: 6px;
}
.shop-cart{
    display: flex;
    align-items: end;
    padding: 6px;
}
.shop-cart i{
    font-size: 26px;
}
.panel a{
    text-decoration: none;
    color: white;
}
.panel{
    background-color: #232F3E;
    color: white;
    height: 39px;
    /* max-width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 0 0 0 0; */
}
.panel-sells{
    width: 100%;
}
.panel-sells{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding-left: 16px;
    /* padding: 6px; */
}
.panel-sells a{
    font-size: 14px;
    padding: 6px;
}
.panel-all{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    /* width: 15%; */
}
.rufus{
    background-color: white;
    border-radius:6px ;
    color: black;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 4px;
}
.panel-sells .fresh{
    font-size: 14px;
    display: flex;
    padding: 6px;
}
/* .panel-shop{
    width: 15%;
    padding: 6px;
} */

.left,.right{
    /* background-color: white; */
    height: 80px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    position: absolute;
    top: 40vh;
    left: 20px;
}
.left,.right i{
    font-size: 60px;
    color: rgba(0, 0, 0, 0.745) ;
}
.right{
    position: absolute;
    right: 20px;
    top: 40vh;
}



.hero-section{
    background-image: url(hero_image.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* padding-bottom: 30px; */
}
.hero-mesg{
    background-color: white;
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    margin-bottom: 30px;
}
.hero-mesg a{
    color: #0f1871;
}

.shop-section{
    background-color: #CDDBDC;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* align-items: center; */
    justify-content: space-evenly;
    padding:15px 0 30px 0;
}
.box{
    height:348px;
    width: 21%;
    background-color: white;
    color: black;
    padding:24px 0px 24px 0px;
    /* border: 1px solid black; */
}
.box-content .box-img{
    height:300px;
    background-size: cover;
}
.box-content h1{
    font-size: 21px;
}
.box-content p{
    /* font-size: 14px; */
    color: #0f1871;
}
.box-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 20px 0 20px;
}


.special{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
}
.special .box-t{
    background-color: white;
    height: 30%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px ;
}
.special .box-t .amb1{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 6px;

}
.special .box-t .amb1 h1{
    font-size: 14px;
}
.special .box-t .amb1 p{
    font-size: 10px;
    color: #0f1871;
}
.special .box-t .amb2{
    background-image: url(11Wk9vkPRcL.jpg);
    height: 100%;
    width: 120px;
    background-size: cover;
    background-position: center;
}
.special .box-b{
    /* background-color: pink; */
    background-image: url(81c1evyC9jL._SX679_.jpg);
    background-size: cover;
    /* background-position: center; */
    height: 60%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    color: black;
    /* padding: 6px; */
}
.special .box-b .hw2{
    background-color: white;
    padding: 12px ;
    font-size: 18px;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px ;
}
.special .box-b .hw1{
    font-weight: 700 ;
    font-size: 14px;
    padding:8px 0 0 8px;
}
.specialin .special2 .divimghead,.divimghead1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.specialin .special2{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.specialingap{
    display: flex;
    gap: 20px;
}

.backto{
    height: 40px;
    background-color:#485769;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
}
.backto a{
    color: white;
}

.footerup-section{
    background-color: #232F3E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    padding: 40px 0 40px 0;
    border-bottom: 1.5px solid white;
}
.footerup-mild{
    /* background-color: aqua; */
    width: 80%;
    /* text-align: center; */
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}
.fbox{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    width: 15%;
    gap: 10px;
}
.fbox a{
    color: white;
    font-size: 12px;
}
.fbox h1{
    font-size: 25px;
}
.footer-lei{
    background-color: #232F3E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
}
.lei{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.lei .lei-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
}
.lei .lei-right .globel{
    border: 1.5px solid white;
}
.footer-bottom{
    background-color: #131A22;
    color: white;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: flex-start;
    padding: 40px 0 40px 15%;
    gap: 30px;
}
.footer-aaaa{
    width: 57%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.fboxa{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 4px;
}
.fboxa h4{
    font-size: 12px;
}
.fboxa a{
    color: #cccccc;
    font-size: 12px;
}
.footer-copy{
    background-color:#131A22;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    padding-bottom: 40px;
}
.footer-copy a{
    color: white;
}
.footer-copy .cpoy{
    display: flex;
    /* flex-direction: column; */
    gap: 12px;
}


.long-bike{
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    height: 285px;
    position: relative;
}
.long-bike .bike1{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
}
.long-bike .bike1 h1{
    font-size: 20px;
}
.long-bike .bike2{
    height: 210px;
    display: flex;
    justify-content: space-between;
}
.long-bike .left,
.long-bike .right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.long-bike .left{
    left: 10px;
}
.long-bike .right{
    right: 10px;
}